*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    background-color: #3e3e3e;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10px;
    width: 100%;
    height: 10vh;
}
.nav{
    min-width: 300px;
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: 0.5s;
 

}
.nav a:hover{
    color: #ffe3b9;
}
.main h1{
    text-align: center;
    margin-top: 15px;

}
.info__section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}
.info__box{
    min-width: 300px;
    max-width: 30%;
    padding: 10px;
    text-align: center;
   border-radius: 5px;
    box-shadow: 0 0 3px #3e3e3e;
    margin: 10px 5px ;
}
.links{
 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    margin: 20px 15px;
}
.links__area{
    display: flex;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.links__area a{
    margin: 0 20px;

    color: #3e3e3e;
    transition: 0.5s;
    font-size: 18px;
}
.links__area a:hover{
    color: #ffe3b9;
}
.form__page{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center     ;


}
.form__page h1{
    margin-top: 15px;
}
 .form__page form{
   max-width: 300px;
    padding: 20px 10px;
    background-color: #ffffff;
    margin: 10px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 0 0 5px #3e3e3e;
    border-radius: 5px; 
 }
 .form__page input{
    background-color: rgb(112, 221, 251);
    border: 1px solid #3e3e3e;
    outline: none;
    padding: 5px 2px;
    border-radius: 5px;
   width: 100%;
    font-size: 14px;
 }
 .form__page select{
        background-color: rgb(112, 221, 251);
    border: 1px solid #3e3e3e;
    outline: none;
    padding: 5px 2px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
 }
  .form__page label{
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 5px 0;}
.form__page button{
    background-color: rgb(45, 199, 45);
    padding:5px 10px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}
.form__page button:hover{
    background-color: rgb(21, 138, 21);
}
.button__group{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center {
    text-align: center;
    margin-top: 15px;
}

table {
  border-collapse: collapse;
  margin: 20px auto;
}

th, td {
  border: 1px solid black;
  padding: 8px 16px;
  text-align: left;
}

th {
  background-color: black;
  color: white;
}

.box {
  border: 1px solid black;
  padding: 30px;
  width: fit-content;
  margin: 0 auto;
  font-weight: bold;
}
